
# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report

# Runtime data
*.default
*.env
.env.local
.env*.local
.DS_Store
*.sqlite
*.sqlite-journal
*.csv
*.log
.npm
.eslintcache
.prettiercache

# Directory for compiled output
/dist
/node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.tscproj

# Uploaded files
/uploads